@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Under Consctruction</h2>
    <p>This website still in its early development. Please be patient while we fry our brains moved by coffee.</p>
</div>