@section metatags
{
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
}


@section style
{
}

<br>

<div id='map' style='height:500px;' class="cold-md-12"></div>

<div id='map-style-menu'>
    <input id='basic' type='radio' name='rtoggle' value='basic' onclick="switchLayer">
    <label for='basic'>basic</label>
    <input id='streets' type='radio' name='rtoggle' value='streets' onclick="switchLayer">
    <label for='streets'>streets</label>
    <input id='bright' type='radio' name='rtoggle' value='bright' onclick="switchLayer">
    <label for='bright'>bright</label>
    <input id='light' type='radio' name='rtoggle' value='light' checked='checked' onclick="switchLayer">
    <label for='light'>light</label>
    <input id='dark' type='radio' name='rtoggle' value='dark' onclick="switchLayer">
    <label for='dark'>dark</label>
    <input id='satellite' type='radio' name='rtoggle' value='satellite' onclick="switchLayer">
    <label for='satellite'>satellite</label>
</div>

<br>


<script>

    mapboxgl.accessToken = 'pk.eyJ1Ijoia2l0dXRlcyIsImEiOiJjajd0cHliZmIxdHRwMnFxcnJuMmRpaHg2In0.SlSkwD7AjQy6RdBWUGgzcg';
    var map = new mapboxgl.Map({
        zoom: 5,
        center: [-0.09,51.5],
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v9'
    });

    var layerList = document.getElementById('map-style-menu');
    var inputs = layerList.getElementsByTagName('input');

    function LoadLayers()
    {
    }

    function switchLayer(layer) {
        var layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId + '-v9');
    }
    
     map.on('style.load', function() {
         LoadDatacenters();
     });

    for (var i = 0; i < inputs.length; i++) {
        inputs[i].onclick = switchLayer;
    }

</script>
